<div class="input-group w-50 flex-grow-1 flex-md-grow-0">
  <label class="input-group-text">Filter By</label>
  <select class="form-select" id="inputGroupFilterBy">
    <option selected>[ Category ]</option>
    <option value="1">One</option>
  </select>
  <select class="form-select" id="inputGroupSortBy">
    <option selected>Sort By</option>
    <option value="1">One</option>
  </select>
  <input
    type="text"
    class="form-control"
    aria-label="Search"
    placeholder="Search"
  />
</div>
