---
import site from "@gpublic/json/site.json";

const app = site.app;
---

<nav class="navbar container-fluid gap-2">
  <a class="navbar-brand d-flex align-items-center gap-2" href="#">
    <img
      src={`/gpublic/img/${app.logo}`}
      alt="Logo"
      width="35"
      class="d-inline-block align-text-top"
    />
    {app.name}
  </a>

  <ul class="nav me-lg-auto"></ul>

  <form class="d-none d-md-flex" aria-role="search">
    <input
      class="form-control form-control-dark text-bg-dark"
      placeholder="search"
    />
  </form>

  <form class="d-none d-md-flex gap-2" aria-role="auth">
    <a href="#" class="btn btn-outline-light">Sign-in</a>
    <a href="#" class="btn btn-warning">Sign-up</a>
  </form>

  <button
    class="navbar-toggler d-md-none"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#sidebar-menu"
    aria-controls="offcanvasDarkNavbar"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
