---
import site from "@gpublic/json/site.json";
const user = site.user;
---

<div class="dropdown mt-auto- user-nav">
  <a
    href="#"
    class="dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src={`/gpublic/img/${user.avatar}`}
      alt={`/${user.name}`}
      width="32"
      height="32"
      class="rounded-circle me-2"
    />
    <dl class="m-0 lh-sm">
      <dt class="fw-semibold">{user.name}</dt>
      <dd class="m-0 small">{user.email}</dd>
    </dl>
  </a>
  <ul class="dropdown-menu text-small shadow">
    <li><a class="dropdown-item" href="#">Settings</a></li>
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Sign out</a></li>
  </ul>
</div>
