---
import { site } from "@jsp/shared/json";
import Nav from "./Nav.astro";
import type { NavItem } from "@jsp/shared/types";
import { filterNavItems, prefixNavPaths } from "@jsp/shared/utils";
import NavUser from "@/comps-bs/NavUser.astro";

let items: NavItem[] = site.navSide;
items = filterNavItems(items, "ui");
items = prefixNavPaths(items, "/bs");

const curPath = Astro.url.pathname;
---

<div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebar-menu">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Pixel</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      data-bs-target="#sidebar-menu"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column pt-lg-3">
    <Nav
      items={items}
      curPath={curPath}
      className={"nav flex-column mb-auto"}
    />
    <hr />
    <NavUser user={site.user} />
  </div>
</div>
