---
import Layout from "@/layouts/LayoutBS.astro";
import PageTitle from "@/comps-bs/PageTitle.astro";
import Hero from "@/comps-bs/Hero.astro";

const page = {};
---

<Layout>
  <section>
    <PageTitle page={page} />
    <Hero />
  </section>
</Layout>

<script></script>
