:root {
  --header-height: 77px;
  --bs-nav-link-opacity: 0.75;
}

/* container */
.h-container {
  min-height: calc(100vh - var(--header-height));
}

/* dropdown: user nav */
.user-nav {
  .dropdown-toggle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: RGBA(
      var(--bs-emphasis-color-rgb),
      var(--bs-link-underline-opacity, 1)
    ) !important;

    &::after {
      border: none;
      content: "...";
      margin-left: auto;
      font-weight: bold;
      transform: rotate(90deg);
    }
  }

  .dropdown-menu {
    /*  */
  }
}

/* sidebar nav */
.nav-link {
  --bs-nav-link-padding-y: 0.3rem;
  opacity: var(--bs-nav-link-opacity);

  &:hover,
  &.active {
    opacity: 1;
    font-weight: 600;
  }
}
.nav-item {
  &::marker {
    content: "";
    display: none;
  }

  ul {
    padding-left: 1rem;

    .nav-item a {
      border-left: 0.125rem solid var(--bs-nav-link-color);
      opacity: var(--bs-nav-link-opacity);

      &:hover,
      &.active {
        opacity: 1;
      }
    }
  }
}
