---
import Layout from "@/layouts/LayoutTW.astro";
import PageTitle from "@/comps-tw/PageTitle.astro";
import Table from "@/comps-tw/Table.astro";

const page = {
  title: "Data",
  breadcrumb: [{ label: "Home", path: "/tw" }, { label: "Data" }],
};
---

<Layout>
  <section>
    <PageTitle page={page} />
    <Table data="[]" />
  </section>
</Layout>
