:host {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

mat-divider {
  margin: 1rem 0;
}

mat-card {
  width: 100%;
  z-index: 1;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding-bottom: 1rem;
}

mat-card-header {
  align-items: center;
}

mat-card-actions {
  padding: 16px 16px;
  justify-content: space-between;
}

mat-card-footer {
  padding: 0 16px;
}

$icon-size: 40px;
.big-icon {
  width: $icon-size;
  height: $icon-size;

  &::before {
    font-size: $icon-size;
  }
}
