---
import "bootstrap/dist/css/bootstrap.min.css";
import "/public/css/bs.css";
import Header from "@/comps-bs/Header.astro";
import Sidebar from "@/comps-bs/Sidebar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/packages/shared/img/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>UI: w/ Bootstrap 5</title>
  </head>
  <body class="root">
    <header class="sticky-top text-bg-dark px-4 py-1" data-bs-theme="dark">
      <Header />
    </header>
    <div class="layout container-fluid bg-body-tertiary h-container">
      <div class="row">
        <aside class="sidebar col-md-3 col-lg-2"><Sidebar /></aside>
        <main class="col-md-9 ms-sm-auto col-lg-10"><slot /></main>
      </div>
    </div>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../public/js/bs.js"></script>
  </body>
</html>

<style>
  body {
  }
</style>
