---
import "/public/css/tw.css";
import Header from "@/comps-tw/Header.astro";
import Sidebar from "@/comps-tw/Sidebar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/packages/shared/img/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>UI: w/ Tailwind 4</title>
  </head>
  <body id="root">
    <header><Header /></header>

    <div class="layout">
      <aside><Sidebar /></aside>
      <main><slot /></main>
    </div>
  </body>
  <script src="../../public/js/tw.js"></script>
</html>

<style>
  body {
  }
</style>
