---
import Layout from "@/layouts/LayoutBS.astro";
import PageTitle from "@/comps-bs/PageTitle.astro";
import Table from "@/comps-bs/Table.astro";

const page = {
  title: "Data",
  breadcrumb: [{ label: "Home", path: "/bs" }, { label: "Data" }],
};
---

<Layout>
  <section>
    <PageTitle page={page} />
    <Table data="[]/" />
  </section>
</Layout>
