---
import Layout from "@/layouts/LayoutBS.astro";
import PageTitle from "@/comps-bs/PageTitle.astro";
import Form from "@/comps-bs/Form.astro";
import FormRow from "@/comps-bs/FormRow.astro";

const page = {
  title: "Form",
  breadcrumb: [{ label: "Home", path: "/bs" }, { label: "Form" }],
};
---

<Layout>
  <section>
    <PageTitle page={page} />
    <Form>
      <FormRow
        type="input"
        subtype="email"
        id="email"
        label="Email"
        help="Enter your valid email address"
        placeholder="Enter your valid email address"
      />

      <FormRow type="input" subtype="text" id="username" label="Username" />

      <FormRow type="input" subtype="number" id="age" label="Age" />

      <FormRow type="input" subtype="password" id="password" label="Password" />

      <FormRow type="select" id="role" label="Role" options="" />

      <button type="submit" class="btn btn-primary">Submit</button>
    </Form>
  </section>
</Layout>
