.title {
  display: flex;
  gap: 1rem;
  align-items: center;

  h1,
  h2 {
    margin: 0.5rem 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}

$icon-size: 60px;
.big-icon {
  width: $icon-size;
  height: $icon-size;

  &::before {
    font-size: $icon-size;
  }
}
