---
import site from "@packages/json/site.json";
const user = site.user;
---

<div class="dropdown user-nav">
  <a
    href="#"
    class="dropdown-toggle"
    data-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src={`/packages/img/${user.avatar}`}
      alt={`/${user.name}`}
      class="avatar"
    />

    <dl>
      <dt>{user.name}</dt>
      <dd>{user.email}</dd>
    </dl>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Settings</a></li>
    <li><a href="#">Profile</a></li>
    <li><hr class="sm" /></li>
    <li><a href="#">Sign out</a></li>
  </ul>
</div>
