---
import type { Page } from "@jsp/shared/types";
import Nav from "./Nav.astro";

type Props = {
  page: Page;
};

const { page } = Astro.props;
---

{
  (page.title || page.breadcrumb) && (
    <div class="page-title space-y-2">
      {page.title && <h1>{page.title}</h1>}

      {page.breadcrumb && page.breadcrumb.length > 0 && (
        <Nav navItems={page.breadcrumb} className="nav nav-breadcrumb" />
      )}
    </div>
  )
}
