---
import { site } from "@jsp/shared/json";
import type { NavItem } from "@jsp/shared/types";
import { filterNavItems, prefixNavPaths } from "@jsp/shared/utils";
import Nav from "@/comps-tw/Nav.astro";
import NavUser from "@/comps-tw/NavUser.astro";

let navItems: NavItem[] = site.navSide;
navItems = filterNavItems(navItems, "ui");
navItems = prefixNavPaths(navItems, "/tw");

const curPath = Astro.url.pathname;
---

<div class="offcanvas offcanvas-start" id="sidebar">
  <div class="offcanvas-header">
    <h2>Pixel</h2>
    <button type="button" data-dismiss="offcanvas">×</button>
  </div>

  <div class="offcanvas-body py-4">
    <Nav navItems={navItems} curPath={curPath} className={"nav nav-vertical"} />
    <hr />
    <NavUser />
  </div>
</div>
