---
import Filter from "@/comps-tw/Filter.astro";
import Pagination from "@/comps-tw/Pagination.astro";

const data = [];
---

{/* Toolbar */}
<div class="flex flex-wrap items-center justify-end gap-2">
  <Filter />

  <button type="button" class="btn btn-primary">Add</button>
</div>

{/* Table */}
<div class="overflow-x-auto">
  <table class="table table-hover caption-bottom">
    <caption>List of records</caption>

    <thead>
      <tr>
        <th>#</th>
        <th>First</th>
        <th>Last</th>
        <th>Operations</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <button type="button" class="btn btn-outline-primary btn-sm"
            >Edit</button
          >
          <button type="button" class="btn btn-outline-danger btn-sm"
            >Delete</button
          >
        </td>
      </tr>
      <tr>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <button type="button" class="btn btn-outline-primary btn-sm"
            >Edit</button
          >
          <button type="button" class="btn btn-outline-danger btn-sm"
            >Delete</button
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

{/* Pagination */}
<Pagination />
